@import '../../../../styles/mixins.scss';
@import '../../../../styles/extends.scss';

.orderItem {
  border: 1px solid var(--heavy-border);
  border-radius: 10px;
  margin-bottom: 20px;

  .orderItem__head {
    background-color: var(--border-color);
    padding: 5px 20px;
    border-bottom: 1px solid var(--heavy-border);
    display: flex;
    justify-content: space-between;

    p {
      span {
        font-weight: 600;
      }
    }
  }

  .orderItem__order {
    padding: 20px 20px;
    .product {
      display: flex;
      gap: 10px;
      @include xs {
        flex-direction: column;
      }
      img {
        width: 100px;
      }

      h6 {
        cursor: pointer;
        &:hover {
          text-decoration: underline
        }
      }

      button {
        @extend %mainBtn;
        padding: 7px 20px;
        font-size: 0.8rem;
      }
    }
  }
}