@import '../../../styles/mixins.scss';

.deals {
  .tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
    span {
      cursor: pointer;
      font-size: 1.1rem;
      position: relative;
      span {
        display: block;
        width: 15px;
        height: 6px;
        border-radius: 0 0 5px 5px;
        background-color: var(--text-color);
        position: absolute;
        bottom: -8px;
        left: 40%;
        display: none;
      }
      &.active {
        // font-weight: bold;
        // border-bottom: 3px solid var(--text-color);
        // span {
        //   display: block;
        // }
        background-color: #000;
        color: #fff;
        padding: 8px 25px;
      }
    }
    @include xs {
      gap: 15px;
      span {
        font-size: 1.1rem;
      }
    }
  }
}