// IMPORTING GLOBAL VARIABLES AND MIXINS
@import '../../../styles/mixins';
@import '../../../styles/extends';

.overlay {
  @keyframes showModal {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  animation: showModal 0.3s forwards ease-in-out 1;
  .area {
    background-color: var(--secondary-background);
    width: 600px;
    height: auto;
    max-height: 90%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: showModal 0.5s forwards ease-in-out 1;
    .area__wrapper {
      max-height: 90vh;
      overflow-y: scroll;
      padding: 30px 50px 30px 30px;
      @include xs {
        padding: 30px 10px 30px 10px;
      }
    }
    @include lg {
      width: 600px;
    }
    @include md {
      width: 550px;
    }
    @include sm {
      width: 500px;
    }
    @include xs {
      width: 90%;
    }
    .close {
      position: absolute;
      top: -15px;
      right: -15px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      background-color: #000;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: rotate(90deg);
        background-color: var(--main-color);
        color: #fff;
      }
      &.ar {
        right: unset;
        left: -15px;
      }
    }

    .area__content {

      h3 {
        text-align: center !important;
        margin-bottom: 20px;
        @include xs {
          font-size: 20px;
        }
      }

      .field {
        label {
          font-weight: bold;
          font-size: 15px;
          margin: 0 5px 3px 5px;
        }
        input {
          display: block;
          width: 100%;
          border: 1px solid var(--heavy-border);
          padding: 10px 15px;
          outline: none;
          margin-bottom: 5px;
          margin-top: 3px;
          border-radius: 20px;
          background-color: var(--default-background);
        }
        @include xs {
          label {
            font-size: 14px;
          }
          input {
            font-size: 14px;
          }
        }
      }

    }

    .actions {
      text-align: right !important;
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 5px;
      button {
        padding: 10px 20px;
        border-radius: 5px;
        background-color: transparent;
        border: none;
        border: 1px solid var(--heavy-border);
        border-radius: 20px;
        cursor: pointer;
        @include sm {
          padding: 5px 20px;
        }
        &.actions__add {
          @extend %mainBtn;
          &:hover {
            background-color: transparent;
            color: var(--main-color);
            border: 1px solid var(--main-color);
          }
        }
      }
    }

  }
}