@import '../../../../styles/mixins.scss';

.specificationsTab {
  h4 {
    margin-bottom: 30px;
  }

  .specificationsTab__spec {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding: 0 20px;
    p {
      width: 30%;
      min-width: 350px;
      @include sm {
        width: 20%;
        min-width: 250px;
      }
      @include xs {
        width: 120px;
        min-width: 120px;
      }
    }
    &:nth-of-type(even) {
      background-color: var(--special-background);
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
}