@import '../../../styles/extends.scss';

.header {
  .header_wrapper {
    // height: 400px;
    overflow: hidden;
  }

  .header__slider {
    * {
      direction: ltr !important;
    }
    .slide {
      // height: 400px;
      overflow: hidden;
      background-color: var(--special-background);
      img {
        // height: 400px;
        object-fit: cover;
      }
    }
    @include sm {
      .slide {
        // height: 400px;
        overflow: hidden;
      }
    }
  }
  @include sm {
    .header_wrapper {
      // height: 400px;
    }

    .header__slider {
      .slide {
        // height: 400px;
        overflow: hidden;
        // padding-top: 50px;
        .label {
          color: var(--main-color);
        }
        .title {
          font-size: 2.8rem;
        }
        .price {
          font-size: 2.2rem;
          font-weight: bold;
        }
        button {
          margin-top: 20px;
        }
      }
      img {
        height: 300px;
        object-fit: contain;
      }
    }
  }

  .announs {
    margin-top: 20px;
    margin-bottom: 50px;
    .announs_box {
      background-color: var(--special-background);
      padding: 20px;
      display: flex;
      align-items: center;
      cursor: pointer;
      img {
        width: 150px;
        height: 150px;
        object-fit: contain;
      }
      p {
        font-weight: bold;
        font-size: 1.8rem;
        color: var(--main-color);
        margin-top: 15px;
      }
    }
  }
}